{% extends 'main.html' %}
{% block content %}
    <style>
        *{
            text-transform: capitalize;
            box-sizing: border-box;
            font-family: "Wix Madefor Text", sans-serif;
            font-optical-sizing: auto;
        }
        .flex-container{
            display: grid;
            gap: 20px;
            width: 100vw;
            align-items: center;
            justify-content: center;
            
        }
        .search-box{
            padding: 20px;
            width: 70vw;
            margin-top: 10px;
            border: 1px solid salmon;
            display: flex;
            gap: 50px;
            justify-content:left ;
            align-items: center;
        }
       .left{
        width: 100%;
            justify-self: start;
        }
        .right{
            width: 100%;
            justify-self: end;
        }
        form {
            display: flex;
            gap: 20px;
            align-items: end;
            justify-content: end;
        }
        
        label{
            display: block;
            font-size: 13px;
        }
        input{
            height: 40px;
            width: auto;
            text-transform: none;
            margin: 4px;
            border: 1px solid grey;
            border-radius: 5px;
        }
        input[type='submit']{
            width: 100px;
            background-color: salmon;
            color: #fff;
            border: none;

        }
        input[type='submit']:active{
            transform: scale(0.98);
            outline: none;
        }
        th,td{
            width: 20%;
            text-align: center;
        }
        .rooms-box table{
            width: 70vw;
            text-align: center;
            column-gap: 0;
        }
        .rooms-box table td{
            border:0;
            padding: 10px;
            width: 20%;
            
        }
        h1{
            margin: 10px 0px 5px;
        }
        tr:nth-child(odd){
            background-color: antiquewhite;
        }
        
        span{
            font-size: 12px;
        }
        .links{
            justify-content: space-between;
            width: 100%;
        }
    </style>
    <div class="flex-container">
        <div class="links">
            {% if request.user.is_authenticated %}
            <a href="{% url 'employee' %}">&larr; home</a>
            {% else %}
                <a href="{% url 'customer' %}">&larr; home</a>
            {% endif %}
        </div>
        <div class="search-box">
            
            <div class="left">
                <h1>Check Room Availability</h1>
                <span>Adjust check-in and check-out dates to view available rooms</span>
            </div>
            <div class="right">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-box">
                        <label for="check_in" >check in</label>
                        <input id="check_in" type="date" name="check_in" value="{{check_in}}" required>
                    </div>
                    <div class="form-box">
                        <label for="check_out">check out</label>
                        <input id="check_out" type="date" name="check_out" value="{{check_out}}" required>
                    </div>
                    <div class="form-box">
                        <label for=""></label>
                        <input type="submit" value="search">
                    </div>
                </form>
            </div>
        </div>
        <!-- <h2>{{check_in}},{{check_out}}</h2> -->
        <div class="messages">
            {% for message in messages%}
                {{message}}
            {% endfor %}
        </div>
        <div class="rooms-box">
            {% if rooms %}
                <table style="cellspacing:0">
                    <tr>
                        <th>
                            room number
                        </th>
                        <th>
                            rooom type
                        </th>
                        <th>
                            room price
                        </th>
                        <th>
                        </th>
                        <th>

                        </th>
                    </tr>
                    {% for room  in rooms%}
                        <tr>
                            <td>
                                {{room.room_number}}
                            </td>
                            <td>
                                {{room.room_type}}
                            </td>
                            <td>
                                {{room.price}}
                            </td>
                            <td>
                                <a href="{% url 'room_detail' room.room_number %}">view room</a>
                            </td>
                            <td>
                                <a href="{% url 'reserve' room.room_number %}">reserve</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}