{% extends 'main.html' %}
{% load static %}
{% block content %}
    <style>
        .container{
            height: 100vh;
            width: 100vw;
            display: grid;
            align-items: center;
            justify-content: center;
        }
        .inner-container{
            width: 35vw;
            height: 55vh;
            border: 1px solid black;
            display: grid;
            padding: 50px 90px;
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 45% 50%;
            align-items: center;
            background-image: url("{% static 'images/bg-5.jpeg' %}");
        }
        label{
            display: block;
        }
        input{
            height: 45px;
            width: 100%;
            border: 1px solid black;
            margin: 10px 0px;
        }
        #submit{
            background-color: #4285F4;
            border: 0;
            color: #fff;
            font-size: 15px;
            text-align: center;
        }
        #submit:hover{
            transform: scale(0.99);
        }
        #submit:active{
            transform: scale(0.98);
        }
        h1{
            font-size: 37px;
        }
        #messages{
            color: red;
        }
        a{
            color:#4285F4 ;
        }
        .links-signIn{
            display: flex;
            justify-content: space-between;
        }
    </style>
    <div class="container">
        <div class="inner-container">
            <h1>Employee Sign In page</h1>
            <form action="" method="post">
                {% csrf_token %}
                <label for="username">username</label>
                <input type="text" name="username" id="username" required>
                <label for="password">password</label>
                <input type="password" name="password" id="password" required>
                <input id="submit"  type="submit"  value="login" />
                <div class="messages">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </div>
            </form>
            <div class="links-signIn"><a href="{% url 'signUp' %}">create new account</a>
                <a href="{% url 'customer' %}">customer</a>
            </div>
        </div>
    </div>
{% endblock %}