{% extends 'main.html' %}

{% block content %}
<style>
    .form-box{
        height: 100vh;
        width: 100vw;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .form-container{
        display: grid;
        width: 40vw;
        padding: 20px;
        border: 1px solid salmon;
    }
    input,select{
        height: 50px;
        border: 1px solid gray;
    }
    form{
        display: grid;
        padding: 50px;
        gap: 20px;
    }
    input[type='submit']{
        background-color: salmon;
        border: none;
        color: #fff;
    }
    input[type='submit']:hover{
        background-color: rgb(214, 90, 76);
        transform: scale(0.99);
    }
    input[type='submit']:active{
        transform: scale(0.98);
    }
    .messages{
        color: red;
        font-size: 15px;
    }
</style>
    <div class="form-box">
        <div class="form-container">
            <div class="links">
                <a href="{% url 'employee' %}">&larr; home</a>
                <a href="{% url 'search' %}">Check Rooms availability</a>
            </div>
            <form action="" method="post">
                <div class="messages">

                    {% for msg in messages %}
                        {{msg}}
                    {% endfor %}
                </div>
                <h1>Change Room Price policy</h1>
                {% csrf_token %}
                <label> Room Type</label>
                {% if room_types %}
                <select name="room_type" id="room_type">
                    {% for type in room_types %}
                        <option value="{{type.id}}">{{type}}</option>
                    {% endfor %}
                </select>
                <label for="price">new room price</label>
                <input type="number" name="price" id="price">
                {% endif %}
                <input type="submit" value="Add Room">
            </form>
        </div>
    </div>
{% endblock %}